page-starships {
  text-align: center;
  .main {
    background-color: #fec423;
  }

  .card {
    background: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: #fec423;
  }
}
