<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446053764385-2eh04vradqvpf4bd2s9ji4mcadeplrsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446053764385-2eh04vradqvpf4bd2s9ji4mcadeplrsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjzmdR8i5CB41i37iEVB1Nf3Q7lmYEzpM</string>
	<key>GCM_SENDER_ID</key>
	<string>446053764385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ace.pruebaIonic</string>
	<key>PROJECT_ID</key>
	<string>pruebaionic-b5dea</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebaionic-b5dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446053764385:ios:85502b12173080d9</string>
	<key>DATABASE_URL</key>
	<string>https://pruebaionic-b5dea.firebaseio.com</string>
</dict>
</plist>